@import 'style-guide';
@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-BoldIt.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Semibold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-SemiboldIt.ttf);
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-RegularIt.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-Light.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Proxima Nova";
    src: url(../fonts/ProximaNova-LightIt.ttf);
    font-weight: 300;
    font-style: italic;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
ul,
li,
a,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    line-height: 1;
}

button,
input,
textarea {
    outline: none !important;
    font-family: 'IBM Plex Sans', sans-serif !important;
}

input[type=text]:focus,
input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus,
input:active {
    outline: none !important;
}


/*css оформление скроллбара*/

div.catalog-table-content::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
}

div.catalog-table-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

::-webkit-input-placeholder {
    color: #222;
}

::-moz-placeholder {
    color: #222;
}


/* Firefox 19+ */

:-moz-placeholder {
    color: #222;
}


/* Firefox 18- */

:-ms-input-placeholder {
    color: #222;
}

.transit {
    /* Safari */
    transition: all 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

@media screen and (max-width: 768px) {}

input {
    font-family: "Proxima Nova";
}

body {
    font-family: "Proxima Nova";
    font-weight: 400;
    background-color: $primary-color;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
img {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
    transition: 0.4s;
    &:hover {
        text-decoration: none !important;
    }
    &:focus {
        text-decoration: none !important;
    }
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;
    display: flex;
    align-items: center;
    background-color: transparent;
    // justify-content: center;
    // background-color: inherit;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

i {
    line-height: 100%;
}

input[type='checkbox'] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
}

.wrapper {
    display: flex;
}

.removed-header {
    // width: 100%;
    height: 67px;
    background: #00498D;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}

.removed-sidebar {
    background: #00C48C;
    width: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
    min-height: 100vh;
    & span {
        transform: rotate(-90deg);
        white-space: nowrap;
    }
}

main {
    padding-bottom: 37px;
    width: calc(100% - 121px);
}

.content {
    margin-top: 20px;
    padding-left: 25px;
    padding-right: 45px;
    display: flex;
    height: calc(100vh - 124px);
    &__right {
        width: 400px;
        margin-left: 30px;
        &-inner {
            background: #FFFFFF;
            border-radius: 6px;
            padding: 14px 0px;
            height: calc(100% - 61px);
            // padding-right: 10px;
        }
        & .datapicker {
            width: calc(100% - 40px);
            margin: 0 auto;
            &__day {
                height: 39px;
            }
            &__show,
            &__hidden {
                background-color: #F5F9FB;
            }
        }
        &-title {
            margin-bottom: 12px;
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            color: #494A4A;
            padding: 0 20px;
        }
    }
    &__left {
        height: 100%;
        flex-grow: 1;
    }
}

.table {
    padding-top: 20px;
    height: 100%;
    margin-bottom: 0;
    &__head {
        display: flex;
        gap: 8px;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #494A4A;
        margin-bottom: 17px;
        &-title {
            &.table__head-title--active {
                & .svg-sort {
                    transform: rotate(180deg);
                    & path {
                        fill: #00498D;
                    }
                }
            }
        }
        & div {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            & svg {
                margin-right: 5px;
            }
            & .svg-sort {
                margin-left: 3px;
                margin-right: 0;
                &:hover {
                    cursor: pointer;
                    & path {
                        fill: #00498D;
                    }
                }
            }
            &:nth-child(1) {
                width: 19.7%;
            }
            &:nth-child(2) {
                width: 39%;
            }
            &:nth-child(3) {
                width: 39%;
            }
        }
    }
    &__rows {
        height: calc(100% - 38px);
        overflow-y: auto;
        & .mCSB_draggerRail {
            width: 5px !important;
            background: #E4E4E4 !important;
            border-radius: 6px !important;
        }
        & .mCSB_dragger_bar {
            background: #00498D !important;
            border-radius: 6px !important;
            width: 5px !important;
        }
        & .mCSB_dragger {
            height: 211px !important;
        }
        & .mCSB_scrollTools {
            width: 5px !important;
        }
        & .mCSB_inside>.mCSB_container {
            margin-right: 18px;
        }
    }
    &__row {
        display: flex;
        gap: 8px;
        margin-top: 8px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            z-index: 1;
            width: calc(100% + 10px);
            height: calc(100% + 10px);
            background: $primary-color;
            border-radius: 6px;
            top: -4px;
            left: -5px;
            transition: all .3s;
        }
        &>div {
            height: 32px;
            position: relative;
            z-index: 2;
            &:nth-child(1) {
                width: 19.7%;
            }
            &:nth-child(2) {
                width: 39%;
                display: flex;
                align-items: center;
                gap: 20px;
            }
            &:nth-child(3) {
                width: 39%;
                display: flex;
                align-items: center;
                gap: 20px;
            }
        }
    }
    &__page-percent {
        flex-grow: 1;
        display: flex;
        align-items: center;
        gap: 8px;
        &-item {
            height: 32px;
            border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 600;
            font-size: 13px;
            line-height: 16px;
            color: #FFFFFF;
            &:nth-child(1) {
                background: #00C48C;
            }
            &:nth-child(2) {
                background: #FFAD4D;
            }
            &:nth-child(3) {
                background: #E75E5E;
            }
        }
    }
    &__row--active {
        position: relative;
        &:after {
            background: #E4E4E4;
        }
        & .table__date {
            color: #FFAD4D;
        }
        & .table__period {
            & button {
                background-image: url(../img/play.svg);
            }
        }
    }
    &__title {
        flex-grow: 1;
        margin-left: 6px;
        background: #FFFFFF;
        border-radius: 6px;
        padding: 0 14px;
        display: flex;
        align-items: center;
        height: 100%;
        font-weight: 600;
        font-size: 12px;
        line-height: 12px;
        color: $blue-color;
    }
    &__title--pl35 {
        padding-left: 35px;
    }
    &__check {
        height: 100%;
        & label {
            height: 100%;
            &:after {
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
    &__id,
    &__date,
    &__tag,
    &__num {
        background: #FFFFFF;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 13px;
        line-height: 16px;
        color: #494A4A;
    }
    &__period {
        display: flex;
        align-items: center;
        justify-content: center;
        & button {
            width: 15px;
            height: 16px;
            background-image: url(../img/pause.svg);
            background-size: 100% 100%;
            margin-right: 8px;
        }
        & span {
            font-size: 13px;
            line-height: 16px;
            color: #B4B4B4;
        }
        & strong {
            font-size: 13px;
            line-height: 16px;
            color: #494A4A;
        }
    }
    &__link,
    &__views,
    &__google,
    &__yandex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.chart-block {
    width: 105px;
    height: 105px;
    position: relative;
    & span {
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: bold;
        font-size: 24px;
        line-height: 24px;
        /* identical to box height, or 100% */
        letter-spacing: 0.01em;
        color: #494A4A;
    }
}

.statistic {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    margin-top: 11px;
    padding: 0 40px 30px;
    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 14px;
        }
        & div {
            display: flex;
            align-items: center;
        }
        & i {
            background: #000;
            margin-right: 12px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            display: block;
        }
        & span {
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: #A6ACBE;
        }
        & strong {
            color: #494A4A;
            font-size: 14px;
            line-height: 17px;
            font-weight: 400;
        }
    }
    &__item--blue {
        & i {
            background: #6F52ED;
        }
    }
    &__item--orange {
        & i {
            background: #FFB800;
            &~span {
                color: #FFB800;
            }
        }
    }
    &__item--red {
        & i {
            background: #FF4C61;
            &~span {
                color: #FF4C61;
            }
        }
    }
    &__item--green {
        & i {
            background: #00C48C;
            &~span {
                color: #00C48C;
            }
        }
    }
    &__block {
        flex-grow: 1;
        margin-left: 50px;
    }
}

.statistic-info {
    margin-top: 24px;
    // padding-top: 24px;
    // padding-bottom: 50px;
    padding: 24px 10px 50px 20px;
    position: relative;
    border-top: 1px solid #bebebe;
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #494A4A;
        padding-right: 10px;
        margin-bottom: 22px;
    }
    &__item {
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        &>span {
            width: 95px;
            margin-right: 13px;
            font-size: 12px;
            line-height: 11px;
            text-align: right;
            color: #8B8B8B;
            flex-shrink: 0;
        }
        &>div {
            flex-grow: 1;
            font-size: 12px;
            line-height: 15px;
            color: #494A4A;
        }
    }
}

.period {
    &__block {
        display: flex;
        align-items: center;
    }
    &__buttons {
        display: flex;
        margin-left: 30px;
        align-items: center;
        & button {
            margin-right: 12px;
            background-color: transparent;
        }
    }
}

.content__right-nav {
    display: flex;
    gap: 13px;
    margin-top: 10px;
}

.chart-block--w100 {
    width: 100px;
    height: 100px;
    & span {
        top: 55%;
        left: 52%;
    }
}

.statistic-view {
    width: 100%;
    height: 250px;
    padding: 0 10px;
    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        color: #494A4A;
        padding: 0px 20px;
        margin-bottom: 11px;
    }
    &__block {
        padding-top: 16px;
        border-top: 1px solid #BEBEBE;
        margin-top: 10px;
    }
    & #myChart3 {
        width: 100% !important;
        height: 100% !important;
    }
}

.indicator {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    & path {
        box-sizing: border-box;
        fill: none;
        stroke-width: 4px;
    }
    & span {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.googlepage-history {
    padding: 0 20px;
    height: calc(100% - 30px);
    // overflow-y: auto;
    & .mCSB_draggerRail {
        width: 5px !important;
        background: #E4E4E4 !important;
        border-radius: 6px !important;
    }
    & .mCSB_dragger_bar {
        background: #00498D !important;
        border-radius: 6px !important;
        width: 5px !important;
    }
    & .mCSB_dragger {
        height: 184px !important;
    }
    & .mCSB_scrollTools {
        width: 5px !important;
    }
    & .mCSB_inside>.mCSB_container {
        margin-right: 18px;
    }
    &__items {
        // height: 100%;
        // overflow-y: auto;
    }
    &__item {
        background: #F4F8FA;
        border-radius: 6px;
        height: 45px;
        display: flex;
        align-items: center;
        padding: 0 10px;
        &>span {
            font-size: 13px;
            line-height: 108.3%;
            color: #424242;
            margin-right: 30px;
        }
        &>div {
            flex-grow: 1;
            display: flex;
            align-items: center;
            gap: 10px;
            justify-content: space-between;
            &>span {
                width: 77px;
                height: 32px;
                font-weight: 600;
                font-size: 13px;
                line-height: 16px;
                text-align: center;
                color: #FFFFFF;
                border-radius: 6px;
                display: flex;
                align-items: center;
                justify-content: center;
                &:nth-child(2) {
                    background: #FFAD4D;
                }
                &:nth-child(4) {
                    background: #E75E5E;
                }
            }
        }
    }
}

.content__right-title--mt30 {
    margin-top: 30px;
}

.content__right-title--bor {
    border-top: 1px solid #BEBEBE;
    padding-top: 18px;
}